* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

:root {
    --rl-header-icon-blue:#0084fd;
    --rl-col-blue:#b5ddff;
    --rl-text-col-blue:#0b8afd;
    --rl-purple:#9792e4;
    --rl-free: #fdc15f;
    --rl-footer-bg:#333333;
    --rl-whigt:#ffffff;
}

.header-sm-md > i {
    color: var(--rl-whigt);
}

.header-lg {
    display: none;
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-12 {
    width: calc(100% / 12 * 12);
}

[class^="col-"] {
    padding: 0 1rem;
}


.btn_blue {
    background-color: var(--rl-header-icon-blue);
    color: var(--rl-whigt);
    padding: 5px 15px;
    border-radius: 15px;
}

.btn_blue > i {
    padding: 0 5px;
    text-decoration: var(--rl-whigt);
}

.btn_purple {
    background-color: var(--rl-purple);
    color: var(--rl-whigt);
    padding: 5px 25px;
    border-radius: 25px;
}

#plant_app i {
    color: var(--rl-header-icon-blue);
}

#plant_app h3 {
    color: var(--rl-text-col-blue);
    padding-top: 20px;
}

.btn_round {
    background-color: var(--rl-purple);
    padding: 20px 25px;
    border-radius: 50%;
    margin-bottom: 20px;
}
/* Utilitis */

    
.header-sm-md{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--rl-header-icon-blue);
    height: 75px;
    padding: 0 10%;
}
/* header */

.img_app {
    background-image: url(../img/phone.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
}

.container_app {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 100%;
}

.container_app .appsto {
    background-color: var(--rl-col-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.code, .design, .develop, .brand {
    background-color: var(--rl-col-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10% 5%;
    margin-top: 1rem;
    margin-right: 10%;
    margin-left: 10%;
}
/* First section mobile */

.container_planning {
    background-color: var(--rl-purple);
}

.container_planning {
    display: flex;
    flex-direction: column;
    padding: 10% 10%;
}

.strategic h2  {
    color: var(--rl-whigt);
    padding-top: 50px;
}

.strategic p {
    line-height: 1.5rem;
    color: var(--rl-whigt);
    padding-top: 30px;
    padding-bottom: 30px;
}

.app_dev {
    background-color: var(--rl-whigt);
    padding-top: 50px;
    border-radius: 30px;
    text-align: center;
}

.app_dev p {
    font-style: italic;
    padding: 20px 0;
}
/* Second section */

#plant_partners {
    text-align: center;
    padding: 10% 10%;
}

#plant_partners h2 {
    color: var(--rl-purple);
    padding-top: 20px;
    padding-bottom: 20px;
}

.nat, .celina, .bob {
    background-color: var(--rl-purple);
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    margin: 15px 0;
    border-radius: 30px;
}

.container_partners .card_img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    margin-bottom: 30px; 
    aspect-ratio: 1 / 1;
}
/* Third section */

.nat .card_img {
    background-image: url(../img/testimonial1.jpg);
}

.celina .card_img {
    background-image: url(../img/testimonial2.jpg);
}

.bob .card_img {
    background-image: url(../img/testimonial3.jpg);
}

#plant_partners .card_text {
    color: var(--rl-whigt);
    line-height: 1.5rem;
}

.card_text h5 {
    padding-top: 20px;
}

#plant_partners i {
    padding: 5px;
}
/* Utilitis Third section */

#plant_benefits {
    background-color: var(--rl-purple);
    color: var(--rl-whigt);
    text-align: center;
    padding-top: 20px;
    padding: 10% 10%;
}

.container_benefits {
    display: flex;
    flex-direction: column;  
}

.quality, .team, .results, .pricing, .innovations, .support {
    text-align: left;
    background-color: var(--rl-whigt);
    color: var(--rl-purple);
    margin: 10% 0%;
    border-radius: 15px;
    padding: 20px;
}

.container_benefits h1 {
    font-size: 50px;
    padding-bottom: 10px;
}

.container_benefits p {
    padding: 20px 0;
}
/* Fourth section */

.container_aboutus {
    padding: 10% 10%;
}

.container_aboutus .card_top {
    background-image: url(../img/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    width: calc(100% / 12 *6);
    margin: 40px 0; 
    aspect-ratio: 1 / 1;
}

.container_aboutus h1 {
    color: var(--rl-purple);
    font-size: 50px;
    padding-top: 50px;
}

.container_aboutus h2 {
    color: var(--rl-purple);
    padding-bottom: 40px;
}

.container_aboutus p {
    padding-top: 30px;
    line-height: 1.8rem;
}

.container_aboutus .card_top i {
    color: var(--rl-purple);
    font-size: 60px;
    padding-left: 80%;
}

.container_aboutus .card_bottom i {
    padding-right: 5px;
}

.container_aboutus .card_bottom button {
    background-color: var(--rl-purple);
    color: var(--rl-whigt);
    padding: 5px 5px;
    border-radius: 20px;
}
/* Fifth section */

.container_getstart {
    background-color: var(--rl-purple);
    text-align: center;
    padding: 10% 10%;
}

.container_getstart h5 {
    color: lightgray;
    padding-top: 20px;
    padding-bottom: 30px;
}

.container_getstart h2 {
    color: var(--rl-whigt);
    padding-bottom: 20px;
}

.container_getstart h1 {
    color: var(--rl-free);
    font-size: 50px;
    padding-bottom: 20px;
}

.container_getstart p {
    color: var(--rl-whigt);
    padding-bottom: 20px;
}

.container_getstart button {
    color: var(--rl-purple);
    padding: 10px 40px;
    border-radius: 30px;
}

.container_getstart h6,a {
    color: var(--rl-whigt);
    padding-top: 20px;
}
/* Sixth section */

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: var(--rl-footer-bg);
    color: var(--rl-whigt);
    padding: 10% 10%;
    height: 230px;
}

.foot_bottom a {
    color: var(--rl-purple);
}
/* Footer end */


@media screen and (min-width: 810px) and (max-width: 1920px) {

    .appsto.col-12 {
        display: none;
    }

    .code.col-12, .design.col-12, .develop.col-12, .brand.col-12 {
        display: none;
    }
    

    .header-sm-md{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--rl-header-icon-blue);
        height: 75px;
        padding: 0 10%;
    }
    /* header */


    
    /* First section tablet */

    .container_partners {
       display: flex;
       flex-direction: column;
    }

    .nat, .celina, .bob {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .container_partners .card_img {
        width: calc(100% / 12 * 4);
    }

    .container_partners .card_text {
        width: calc(100% / 12 *8);
    }
    /* Third section tablet */

    .container_benefits {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .quality, .team, .results, .pricing, .innovations, .support {
        width: calc((100% - 2rem) / 12 * 6);
        margin:  0.5rem;
    }
   /* forth section tablet */

   .linkedin {
    display: flex;
    justify-content: space-between;
   }

   .linkedin .card_text {
    width: calc(100% / 12 *6);
   }

   .linkedin .card_img_text {
    width: calc(100% / 12 * 4);
   }
 
   /* Fifth section tablet */
}

@media screen and (min-width: 1920px){
    
}