* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

:root {
    --rl-header-icon-blue:#0084fd;
    --rl-col-blue:#b5ddff;
    --rl-text-col-blue:#0b8afd;
    --rl-purple:#9792e4;
    --rl-free: #fdc15f;
    --rl-footer-bg:#333333;
    --rl-whigt:#ffffff;
}

.header-sm-md > i {
    color: var(--rl-whigt);
}

.header-lg {
    display: none;
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-12 {
    width: calc(100% / 12 * 12);
}

.container_app .col-12, .container_app .col-8, .container_app .col-4 {
    margin-bottom: 25px;
    border-radius: 15px;
    background-color:var(--rl-col-blue);

}

.btn_blue {
    background-color: var(--rl-header-icon-blue);
    color: var(--rl-whigt);
    padding: 5px 15px;
    border-radius: 15px;
}

.btn_blue>i {
    padding: 0 5px;
}

.btn_purple {
    background-color: var(--rl-purple);
    color: var(--rl-whigt);
    padding: 5px 25px;
    border-radius: 25px;
}

.container_app i {
    color: var(--rl-header-icon-blue);
}

.container_app h3 {
    color: var(--rl-text-col-blue);
    padding-top: 20px;
}

.btn_round {
    background-color: var(--rl-purple);
    padding: 20px 25px;
    border-radius: 50%;
}
@media screen and (max-width: 375px) {

    
.header-sm-md{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--rl-header-icon-blue);
    height: 75px;
    padding: 0 10%;
}
/* header */

.container_app {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container_app .row {
    display: flex;
    flex-direction: column;
    padding: 5% 10%;
}

.container_app .appsto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    padding: 0 5%;
}

.code, .design, .develop, .brand {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10% 5%;
    height: 350px;
}
/* First section mobile */

.container_planning {
    background-color: var(--rl-purple);
}

.container_planning .row {
    display: flex;
    flex-direction: column;
    padding: 10% 10%;
}

.strategic h2  {
    color: var(--rl-whigt);
    padding-top: 50px;
}

.strategic p {
    line-height: 1.5rem;
    color: var(--rl-whigt);
    padding-top: 30px;
    padding-bottom: 30px;
}

.app_dev {
    background-color: var(--rl-whigt);
    height: 600px;
    padding-top: 50px;
    border-radius: 30px;
    text-align: center;
}

.app_dev p {
    font-style: italic;
    padding: 20px 0;
}
/* Second section */

.container_partners {
    text-align: center;
    padding: 10% 10%;
}

.container_partners h2 {
    color: var(--rl-purple);
    padding-top: 20px;
    padding-bottom: 20px;
}

.nat, .celina, .bob {
    background-color: var(--rl-purple);
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    margin: 15px 0;
    border-radius: 30px;
}

.container_partners .card_img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    margin-bottom: 30px; 
    aspect-ratio: 1 / 1;
}
/* Third section */

.nat .card_img {
    background-image: url(../img/testimonial1.jpg);
}

.celina .card_img {
    background-image: url(../img/testimonial2.jpg);
}

.bob .card_img {
    background-image: url(../img/testimonial3.jpg);
}

.container_partners .card_text {
    color: var(--rl-whigt);
    line-height: 1.5rem;
}

.card_text h5 {
    padding-top: 20px;
}

.container_partners i {
    padding: 5px;
}
/* Utilitis Third section */

.container_benefits {
    background-color: var(--rl-purple);
    text-align: center;
    color: var(--rl-whigt);
    padding: 10% 10%;
}

.quality, .team, .results, .pricing, .innovations, .support {
    text-align: left;
    background-color: var(--rl-whigt);
    color: var(--rl-purple);
    margin: 10% 3%;
    border-radius: 15px;
    padding: 20px;
}

.container_benefits h1 {
    font-size: 50px;
    padding-bottom: 10px;
}

.container_benefits p {
    padding: 20px 0;
}
/* Fourth section */

.container_aboutus {
    padding: 10% 10%;
}

.container_aboutus .card_top {
    background-image: url(../img/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    width: calc(100% / 12 *6);
    margin: 40px 0; 
    aspect-ratio: 1 / 1;
}

.container_aboutus h1 {
    color: var(--rl-purple);
    font-size: 50px;
    padding-top: 50px;
}

.container_aboutus h2 {
    color: var(--rl-purple);
    padding-bottom: 40px;
}

.container_aboutus p {
    padding-top: 30px;
    line-height: 1.8rem;
}

.container_aboutus .card_top i {
    color: var(--rl-purple);
    font-size: 60px;
    padding-left: 80%;
}

.container_aboutus .card_bottom i {
    padding-right: 5px;
}

.container_aboutus .card_bottom button {
    background-color: var(--rl-purple);
    color: var(--rl-whigt);
    padding: 5px 5px;
    border-radius: 20px;
}
/* Fifth section */

.container_getstart {
    background-color: var(--rl-purple);
    text-align: center;
    
    padding: 10% 10%;
}

.container_getstart h5 {
    color: lightgray;
    padding-top: 30px;
    padding-bottom: 20px;
}

.container_getstart h2 {
    color: var(--rl-whigt);
    padding-bottom: 20px;
}

.container_getstart h1 {
    color: var(--rl-free);
    font-size: 50px;
    padding-bottom: 20px;
}

.container_getstart p {
    color: var(--rl-whigt);
    padding-bottom: 20px;
}

.container_getstart button {
    color: var(--rl-purple);
    padding: 10px 40px;
    border-radius: 30px;
}

.container_getstart h6,a {
    color: var(--rl-whigt);
    padding-top: 20px;
}
/* Sixth section */

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: var(--rl-footer-bg);
    color: var(--rl-whigt);
    padding: 10% 10%;
    height: 230px;
}

.foot_bottom a {
    color: var(--rl-purple);
}
/* Footer end */
} 